:root {
    --body-font-family: Montserrat, var(--fallback-font);
    --heading-font-family: Montserrat;
    --primary-nav-font-family: Montserrat, var(--fallback-font);
    --fallback-font: sans-serif;
    --text-color: #86AE34;;
    --text-active-color: #86AE34;;
    --disable-text-color: #555555;
    --btn-color: #fff;
    --btn-bg: #86AE34;;
    --btn-border-color: #86AE34;; 
    --btn-hover-color: #fff;
    --btn-hover-bg: #333333;
    --btn-hover-border-color: #86AE34;; 
    --btn-active-color: #fff;
    --btn-active-bg: #86AE34;;
    --global-gray-400: #e6e6e6;
    --global-gray-500: #aaaaaa;
    --heading-font: Futura, sans-serif;
    --section-bg-1: #ebebeb;
}



body{
  font-family: var(--body-font-family)
}



a, a:hover {
  text-decoration: none;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.px-20 {
  padding-left:  20px !important;
  padding-right: 20px !important;
}

textarea:focus, select:focus,
input:focus{   
  border-color: var(--btn-bg) !important;
  box-shadow: 0 0 0 1px var(--btn-bg) !important;
}

input:checked {
  background-color: var(--btn-bg) !important;
  border-color: var(--btn-bg) !important;
}

.btn-primary {
   background-color: var(--btn-bg) !important;
   border-color: var(--btn-border-color) !important;
}

.text-primary {
   color: var(--text-color) !important;
}


.logo {
  mix-blend-mode:multiply;
 }

.offcanvas.offcanvas-start {
  width: 560px;
}

.list-inline-item i{
   font-size: 22px;
}
.bi-text-indent-left {
  font-size: 30px !important;
}

@media (max-width: 990px) { 
  header .bg-light {
      background-color: transparent !important;
  }
}

@media (min-width: 1200px) {
  .navbar-default .dropdown-menu {
    display: block;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in;
    visibility: hidden;
  }

  .navbar-default .dropdown-menu-end {
    left: auto;
    right: 0;
  }

  .navbar-default .dropdown-menu-start {
    left: 0;
    right: auto;
  }

  .navbar-default .dropdown:hover > .dropdown-menu {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
  }

  .navbar .dropdown-fullwidth {
    position: static;
  }

  .navbar .dropdown-fullwidth .dropdown-menu {
    left: 0;
    margin: 1.25rem auto;
    max-width: 1320px;
    padding: 1rem 0;
    right: 0;
    top: 30px;
  }
}

.breadcrumb-item a {
  color: var(--text-color) !important;
}
.navbar-default .dropdown-menu,
.navbar-default .card {
  box-shadow: 0 0 2px rgba(145, 158, 171, 0.2),
    0 12px 24px -4px rgba(145, 158, 171, 0.12);
  padding: 8px !important;
  border: none;
  border-radius: 0.5rem;
}

.navbar-default .card .dropdown-item {
  padding: 5px 15px;
}

.navbar-default .card .dropdown-item:focus,
.navbar-default .card .dropdown-item:hover {
  background-color: #f8f9fa !important;
  border-radius: 4px;
}

.bg-color {
  background-color: #81DA5B !important;
}


@media (min-width: 992px) {
  .navbar-default .navbar-nav {
    flex-wrap: nowrap;
  }

  .navbar-default .navbar-nav .nav-item {
    flex: 0 0 auto;
    width: auto !important;
  }

  header .nav-item .nav-link {
    color: #fff !important;
    white-space: nowrap;
  }
}

@media (max-width: 420px) {
  .main-logo  {
    width: 100px !important;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    border-bottom: 1px solid #ecf0ef;
  }
  .dropdown-toggle:after {
    float: right;
  }

  

}

.dropdown-toggle:after {
  background-repeat: no-repeat;
  background-size: 0.625rem 0.625rem;
  border: none;
  content: "\f282";
  font-family: bootstrap-icons !important;
  vertical-align: middle;
  margin-left: 0.375rem;
  line-height: 2;
  font-size: 12px;
}

.menu-offer .btn-cart {
  background-color: var(--btn-bg) !important;
  border-color: transparent !important;
  color: var(--btn-color) !important;
  transition: 0.5s ease;
  font-weight: 500;
}

.shine {
  position: relative;
  overflow: hidden;
}
.shine::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
}
.shine:hover::before, .shine:focus::before {
  -webkit-animation: shine 0.85s;
          animation: shine 0.85s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}


/* OwlCarousel Custom Style  */

.owl-prev, .owl-next {opacity: 0 !important;}

.owl-carousel:hover .owl-prev {opacity: 1 !important;}
.owl-carousel:hover .owl-next {opacity: 1 !important;}

/* Banner Section */

.banner-slider .owl-nav .owl-prev {
  background-color: #fff !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  position: absolute;
  top: 45%;
  left: 10px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  outline: none;
  font-size: 25px !important;
  transition: 0.5s ease;
}


.banner-slider .owl-nav .owl-next {
  background-color: #fff !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  position: absolute;
  top: 45%;
  right: 9px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  outline: none;
  font-size: 25px !important;
  transition: 0.5s ease;
}




/* Category Section */

.category-container {
  padding: 30px 40px;
}

.category-list .category-slider{
   margin: auto;
  text-align: center;
}

.category-list .category-slider .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-list .category-slider .item:hover .category-title {
  color: var(--text-color) !important;

}



.category-list .category-slider .item img {
  width: 100px;
  height: 100px;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s ease;
}

.category-list .category-slider .item img:hover {
  transform: scale(1.1);
}

.category-container .category-title {
  color: #222222;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding: 10px 0 0 0;
}

.category-slider .owl-nav .owl-prev {
  background-color: #fff !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  position: absolute;
  top: 30%;
  left: -30px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  outline: none;
  font-size: 25px !important;
  transition: 0.5s ease;
}

.category-slider .owl-nav .owl-next {
  background-color: #fff !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  position: absolute;
  top: 30%;
  right: -30px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  outline: none;
  font-size: 25px !important;
  transition: 0.5s ease;
}

/* product Section */

.product a {
  text-decoration: none;
  color: #131921;
  transition: all 0.3s ease;
}

.product a:hover {
  color: var(--text-color);
}

.product-card {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.product-footer {
  transition: 0.5s ease;
  width: 100%;
}


.product-card:hover {
  transition: 0.5s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.product-card .icons {
  position: absolute;
  top: 15px;
  right: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.product-card:hover .icons {
  opacity: 1;
}

.product .product-card .icons a {
  display: block;
  margin: 0 5px;
  color: #ddd;
  background-color: #000;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
  right: -50px;
  transition: right 0.5s ease;
}

.product-card:hover .icons a {
  right: 0;
}

.product-card .icons a:nth-child(1) {
  margin-top: 0px;
  transition-delay: 0.2s;
}

.product-card .icons a:nth-child(2) {
  transition-delay: 0.4s;
}

.product-card .icons a:nth-child(3) {
  transition-delay: 0.6s;
}

.product-card .icons a:hover {
  transition: 0.5s ease;
  color: #fff;
  background-color: var(--btn-bg) !important;
}
.product-card .discount-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 10px;
  background-color: #f00;
  color: #fff;
  border-radius: 3px;
  transform: translateX(-20px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.product-card:hover .discount-badge {
  transform: translateX(0);
  opacity: 1;
}

#dealtimer {
  color: var(--btn-bg) !important;
}

.product h5 {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product .product-card .sell-price {
  color: var(--text-color);
  font-weight: 600;
}
.product .section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
.product .product-card .btn-cart {
  background-color: var(--btn-bg) !important;
  border-color: transparent !important;
  color: var(--btn-color) !important;
  transition: 0.5s ease;
  font-weight: 500;
}

.product .product-card .btn-cart:hover {
  background-color: var(--btn-hover-bg) !important;
  border-color: transparent !important;
  color: var(--btn-hover-color) !important;
}

.product .nav .nav-link {
  color: #000 !important;
}
.product .nav .nav-item .active {
  color: var(--text-active-color) !important;
  background-color: transparent !important;
}

.product .product-card a {
  display: flex;
  justify-content: flex-center;
  align-items: center;
}

.product .product-card .image-first {
	opacity: 1;
	-moz-opacity: 1; 
	-khtml-opacity: 1;
	-webkit-opacity: 1;
    transition: all 500ms ease-in-out 0s;
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-o-transition: all 500ms ease-in-out 0s;
	-ms-transition: all 500ms ease-in-out 0s;
  overflow: hidden;
  max-width: 210px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: flex-center;
  align-items: center;
}

.product .product-card .image-second {
  max-width: 210px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: flex-center;
  align-items: center;
  opacity: 0;
	-moz-opacity: 0;  
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    transition: all 500ms ease-in-out 0s;
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-o-transition: all 500ms ease-in-out 0s;
	-ms-transition: all 500ms ease-in-out 0s;
  overflow: hidden;
  visibility: hidden;
}

.product .product-card:hover .image-first {
	opacity: 0;
	-moz-opacity: 0;  
	-khtml-opacity: 0; 
	-webkit-opacity: 0; 
  visibility: hidden;
}

.product .product-card:hover .image-second {
	opacity: 1;
	-moz-opacity: 1;  
	-khtml-opacity: 1; 
	-webkit-opacity: 1;
  visibility: visible;
}


.product-slider .owl-nav .owl-prev {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: absolute;
  top: 30%;
  left: -45px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  outline: none;
  font-size: 25px !important;
  transition: 0.5s ease;
}



.product-slider .owl-nav .owl-next {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: absolute;
  top: 30%;
  right: -45px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  outline: none;
  font-size: 25px !important;
  transition: 0.5s ease;
}

.product-section-title {
  font-size: 35px;
  text-align: center;
}

/* Section Offer */

.section-offer-container {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.section-offer-info {
  width: 50%;
  text-align: center;
  padding: 50px 50px;
}

.section-offer .section-offer-info .offer-info-dis {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
.section-offer .section-offer-info .offer-info-title {
  font-size: 45px;
  font-weight: 600;
  line-height: 45px;
  margin-top: 20px;
  padding: 0;
  color: #000;
}

.section-offer .section-offer-info .btn-buy {
  font-weight: 600;
  padding: 10px 30px;
  color: #fff;
  background-color: var(--text-color);
  margin-top: 10px;
  display: inline-block;
}

@media (max-width: 576px) { 
  .section-offer-info {
    width: 100% !important;
  }
  .section-offer .section-offer-info .offer-info-dis {
    font-size: 18px !important;
  }
  .section-offer .section-offer-info .offer-info-title {
    font-size: 35px !important;
  }
}

@media (min-width: 577px) and (max-width: 992px) { 
  .section-offer-info {
    width: 80% !important;
  }
  .section-offer .section-offer-info .offer-info-dis {
    font-size: 20px !important;
  }
  .section-offer .section-offer-info .offer-info-title {
    font-size: 40px !important;
  }
}


/* Blog Section */

.blog-section .img-zoom {
  border-radius: .5rem;
  overflow: hidden
}

.blog-section .img-zoom img {
  transition: transform .5s ease;
}

.blog-section .img-zoom img:hover {
  transform: scale(1.1);
}

.blog-section div.zoom {
  background-position: 50% 50%;
  border-radius: .5rem;
  cursor: zoom-in;
  overflow: hidden;
  position: relative;
  width: 100%
}

.blog-section div.zoom img:hover {
  opacity: 0
}

.blog-section div.zoom img {
  display: block;
  transition: opacity .5s;
  width: 100%
}

.blog-info {
  font-family: var(--heading-font) !important;
  font-size: 14px;
  color: #303030;
}

.blog-section-title {
  font-size: 35px;
  text-align: center;
}

.blog-title a {
  font-family: var(--heading-font) !important;
  font-size: 16px;
  color: #111111;
  font-weight: 600;
  transition: 0.5s ease;
}
.blog-title a:hover {
  color: var(--text-color);
}

.blog-btn {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--heading-font) !important;
  color: #0a85d1;
  transition: 0.5s ease;
}

.blog-btn:hover {
  color: var(--text-color);
}

.blog-slider .owl-nav .owl-prev {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: absolute;
  top: 30%;
  left: -45px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  outline: none;
  font-size: 25px !important;
  transition: 0.5s ease;
}



.blog-slider .owl-nav .owl-next {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: absolute;
  top: 30%;
  right: -45px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  outline: none;
  font-size: 25px !important;
  transition: 0.5s ease;
}

/* Feature Section */

.feature-item .feature-info h4 {
  margin-bottom: 5px;
  color: #111111;
  font-size: 20px;
  font-weight: 600;
}

.feature-item-8 .feature-info p {
  font-size: 14px;
  color: #111111;
}

.feature-item {
  /* padding: 40px 30px 15px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-item .feature-icon {
  margin-right: 20px;
  font-size: 40px;
  width: 50px;
}


.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover  {
  background-color: var(--btn-bg) !important; 
  color: var(--btn-color) !important;
}

/* Footer Section */

footer {
  background-color: #f8f9fa;
  padding: 40px 0px;
}

.footer_newsletter h4 {
  font-size: 18px;
  color: var(--secondary-color);
  margin-top: 24px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.footer_title {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 9px;
  text-transform: uppercase;
}

.footer_menu a {
  color: var(--secondary-color);
  font-size: 15px;
  display: block;
  text-decoration: none;
  line-height: 24px;
  margin-bottom: 12px;
}

.footer_contact .icn {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 17px;
}

.footer_contact p {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  color: var(--secondary-color);
  position: relative;
  padding-left: 32px;
  margin-bottom: 13px;
}


.footer_icon a {
  color: var(--secondary-color);
  font-size: 24px;
}


/* Login Section */

.login-section .item {
  border: 1px solid#e9e7e7;
  padding: 32px 39px 20px;
  height: 100%;
}

.login-section .item  h2, .login-section .item  h1 {
  font-size: 20px;
  line-height: 30px;
  padding: 0 0 14px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.login-section .item p{
  font-size: 14px;
  line-height: 22px;
  color: #777777;
}

.login-section ::placeholder, .contact-section ::placeholder, .comment-form ::placeholder {
      font-size: 13.5px; 
}

.icon {
  font-size: 40px;
  color: var(--text-color);
}

/* pagination */

.pagination .page-item .page-link {
  border-radius: 8px;
  color: #001e2b;
}

.pagination .active>.page-link, .pagination .page-link.active {
  background-color: var(--btn-bg);
  border-color: var(--btn-bg);
  color: #fff;
  z-index: 3;
}


/* blog single section */
.blog-single-desc a {
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
  color: #111111;
}

.blog-single-img img {
  border-radius: 20px;
}

.clear-both {
  clear: both;
}

.tag-option a {
  text-decoration: none;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 4px;
  color: #000;
  font-weight: 600;
  background-color: #e6e6e6;
  transition: 0.5s ease;
}

.tag-option a:hover {
  color: #fff;
  background-color: var(--btn-bg);
}

.comment-thumb img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.comment-info h5 {
  color: #252b61;
  font-weight: 600;
  font-size: 20px;
}

.comment-info span {
  color: #000;
  font-weight: 400;
  font-size: 14px;
}

.comment-meta a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.blog-single-share p {
  font-size: 18px;
  font-weight: 600;
}

.share-link a {
  color: var(--btn-bg);
}


blockquote {
  font-size: 28px;
  font-family: var(--heading-font);
  line-height: 40px;
  font-weight: 700;
  background-color: var(--section-bg-1);
  padding: 60px 50px 60px 60px;
  margin: 50px 0;
  font-style: normal;
  border-left: 0;
  position: relative;
  z-index: 1;
  border-radius: 20px;
}

.quote {
  font-size: 20px;
  line-height: 1.4;
  font-style: italic;
}

.quote-icon {
  margin-bottom: 10px;
  color: #fff;
}


.date-comm {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
  color: var(--btn-bg);
}


/* About Us */

.about-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-short-des p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
}

/* cart */

.cart-container .remove-item{
   font-size: 25px;
}

.qty-container button:focus,
.qty-container input:focus{
  outline: none;
  box-shadow: none;
}
.qty-container{
  display: flex;
}
.qty-container .input-qty{
  text-align: center;
  border: 1px solid #d4d4d4;
  max-width: 60px;
  height: 30px;
}
.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus{
  border: none;
  font-size: 20px;
  height: 30px;
  width: 38px;
  transition: 0.3s;
  background-color: var(--btn-bg);
  color: #fff;
}


/* Chrome, Safari, Edge, Opera */
.qty-container input::-webkit-outer-spin-button,
.qty-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.qty-container input[type=number] {
  -moz-appearance: textfield;
}


/* Shop single */


@media (min-width: 992px){
  .pe-lg-50 {
    padding-right: 50px;
  }
}



.product-action ul li{
  margin-right: 15px;
}

.product-details .js .slider-single > div:nth-child(1n + 2) {
display: none;
}

.product-details .js .slider-single.slick-initialized > div:nth-child(1n + 2) {
display: block;
}

.product-details .slider-nav .slick-slide {
margin: 30px 8px;
}
.product-details .slider-nav .slick-current {
  border: 2px solid var(--text-color);
  border-radius: 8px;

}
.product-details .product-img img, .product-details .product-img-slider img {
width: 100%;
object-fit: cover;
border-radius: 8px;
}

.product-details .nav-lb-tab .nav-item {
  margin-right: 2rem;
  }
  .product-details .nav-lb-tab {
  border-bottom: 1px solid #dfe2e1;
  }
  .product-details .nav-lb-tab .nav-item .nav-link.active, .product-details .nav-lb-tab .nav-item .nav-link:hover {
  background-color: transparent;
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  }
  
  .product-details .nav-lb-tab .nav-item .nav-link {
  border-bottom: 2px solid transparent;
  border-radius: 0;
  color: #5c6c75;
  font-weight: 500;
  margin-bottom: -1px;
  padding: 16px 0;
  white-space: nowrap;
  }


  .pound-section .pound-custom-radios div {
    display: inline-block;
  }
  .pound-section .pound-custom-radios input[type=radio] {
    display: none;
  }
  
  .pound-section .pound-custom-radios input[type=radio] + label span {
    cursor: pointer;
    color: #9f9f9f;
    user-select: none;
    border: 1px solid #e6e6e6;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    padding: 10px 20px;
    overflow: hidden;
    display: block;
    text-align: center;
    border-radius: 4px;
    margin-right: .4em;
    box-shadow: 0px 0px 5px #e5e5e5;
    transition: all 120ms ease-in-out;
  }
  
  .pound-section .pound-custom-radios input[type=radio]:checked + label span {
    color: #fff;
    background: #0a8741;
  }

  .single-product-list a {
    color: #6a6a6a;
    margin-left: 20px;
    transition: 0.2s;
  }

  .social-share a {
    color: #6a6a6a;
    margin-left: 20px;
    transition: 0.2s;
  }

  .social-share .facebook:hover {
     color: #1b6cbb;
  }

  .social-share .instagram:hover {
    color: #b06418;
 }

 .social-share .twitter:hover {
  color: #15c0ec;
}

.social-share .whatsapp:hover {
  color: #25D366;
}

  .single-product-list a:hover {
    color: var(--text-color);
  }



  /* Shop Page */
  @media (min-width: 992px){
    .shop-section .offcanvas-collapse {
       background-color: transparent;
       bottom: auto!important;
       display: block;
       height: auto!important;
       left: auto!important;
       position: static;
       right: auto!important;
       top: auto!important;
       transform: none!important;
       visibility: visible;
       width: 100%!important;
   } 
   }

   
.noUi-target {
  background-color: #f0f3f2;
  border: none;
  border-radius: .5rem
}

.noUi-horizontal {
  height: 8px
}

.noUi-handle {
  background: #fff;
  border: transparent;
  border-radius: 100%;
  box-shadow: 0 2px 8px rgba(0,0,0,.18);
  cursor: default
}

.noUi-handle:focus {
  outline: none
}

.noUi-horizontal .noUi-handle {
  height: 18px;
  right: -13px;
  top: -6px;
  width: 18px
}

.noUi-handle:after,.noUi-handle:before {
  display: none
}

.noUi-connects {
  border-radius: 6px
}

.noUi-connect {
  background:  var(--btn-bg);
}

.noUi-tooltip {
  background-color: transparent;
  border: none;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0;
  width: 30px
}


/* Checkout */

.product-checkout h5 {
  background: #f8f8f8;
  padding:  1.3rem 1rem;
  text-transform: none;
  font-size: 18px;
}

.gs_input_area {
  position: relative;
}

.gs_input_area input[type=text], 
.gs_input_area input[type=password], 
.gs_input_area input[type=email], 
.gs_input_area input[type=number], 
.gs_input_area input[type=search] {
  background: #f8f8f8;
  font-size: 1rem;
  padding: 14px 20px;
  width: 100%;
  border: none;
}
   
.gs_input_area input:focus{
outline: none;
box-shadow: none;
}

.input-item i{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 22px;
}

.product-checkout .nice-option {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-weight: 500;
  background: #f8f8f8;
  color: #757575!important;
  outline: none!important;
  border: none;
}

.gs_input_area textarea {
  background: #f8f8f8;
  padding: 14px 20px;
  width: 100%;
  outline: none!important;
  border: none;
}

.product-cart .card .card-header h1, h2 {
  font-size: 16px;
  margin: 0;
  padding: 10px 0px;
}


.p-summary-title, .p-summary-price {
  font-size: 16px;
}

.p-summary-total-title, 
.p-summary-total-price{
  font-size: 18px;
  color: #212121;
  font-weight: 600;
}
.border-t {
  border-top: 1px solid #e5e7eb;
  padding: 14px 22px;
}

#product-img-active img {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 600px) {
  #product-img-active img {
    max-width: 300px;
  }
}
